<ion-header>
  <ion-navbar color="secondary">
    <ion-title text-center>
      Photo Crop
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (click)="takePhoto('camera')" *ngIf="!base64Image">CAMERA</button>
  <button ion-button (click)="takePhoto('library')" *ngIf="!base64Image">LIBRARY</button>

  <img [src]="base64Image" alt="Base64 Photo" *ngIf="base64Image">
  <ion-item *ngIf="base64Image">
    <ion-input type="text" placeholder="Caption.." [(ngModel)]="caption"></ion-input>
  </ion-item>
  <button ion-button block color="secondary" *ngIf="base64Image" (click)="upload()">Upload to Facebook</button>

  
</ion-content>
